<?xml version="1.0"?>
<zend-config xmlns:zf="http://framework.zend.com/xml/zend-config-xml/1.0/">
		<plugin>

            <!-- the plugin name [A-Za-z_] -->
            <pluginName>Eos</pluginName>
            <pluginNiceName>Eos</pluginNiceName>

            <!-- a short description -->
			<pluginDescription><![CDATA[
                Improved version of AIN framework built to work with pimcore 2.0 and later
            ]]></pluginDescription>

            <!-- meta data -->
            <pluginVersion>1.0</pluginVersion>
            <pluginRevision>1</pluginRevision>
            <pluginBuildTimestamp>0</pluginBuildTimestamp>

            <!-- put in the URL for the plugin configuration eg. /plugin/Eos/admin/index -->
            <pluginIframeSrc></pluginIframeSrc>

            <!-- className of the plugin which extends Pimcore_API_Plugin_Abstract-->
			<pluginClassName>Eos_Plugin</pluginClassName>

            <!-- include paths relative to plugin-directory -->
			<pluginIncludePaths>
				<path>/Eos/lib</path>
                <path>/Eos/models</path>
			</pluginIncludePaths>

			<!-- namespaces to register with autoloader-->
			<pluginNamespaces>
				<namespace>Eos</namespace>
			</pluginNamespaces>

			<pluginJsPaths>
                <path>/plugins/Eos/static/pimcore/js/admin.js</path>
			</pluginJsPaths>
		</plugin>
</zend-config>
